@font-face {
  font-display: swap;
  font-family : 'latin_wide_d';
  src         : url("font/latin_wide_d-webfont.woff2") format('woff2'), url("font/latin_wide_d-webfont.woff") format('woff');
  font-weight : normal;
  font-style  : normal;
}

body {
  font-family    : 'latin_wide_d', serif;
  font-size      : 48px;
  line-height    : 1.2;
  text-transform : uppercase;
  letter-spacing : 2px;
  word-break     : break-word;
  background     : #000;
  color          : #FFF;
  margin         : 100px auto;
  width          : 100%;
  height         : 100%;
  display        : flex;
  display        : -webkit-flex;
  justify-content: center;
  align-items    : center;
  background     : url("img/background.jpeg") repeat;
}

div {
  width     : auto;
  height    : auto;
  margin    : 0 auto;
  text-align: center;
}

textarea {
  position: fixed;
  top     : 0;
  left    : 0;
  height  : 100%;
  width   : 100%;
  opacity : 0;
}

a {
  color     : #F62525;
  transition: 0.4s all;
}

a:visited {
  color: #F62525;
}

a:hover {
  color     : #FFF;
  cursor    : pointer;
  transition: 0.4s all;
}

#preview-container {
  display        : flex;
  display        : -webkit-flex;
  justify-content: center;
  align-items    : center;
  padding        : 0 100px;
}

#preview {
  height                 : auto;
  display                : inline-block;
  border                 : 1px solid #FFF;
  border-radius          : 10px;
  padding                : 0 5px;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering         : optimizeLegibility;
}

#footer {
  position               : absolute;
  bottom                 : 50px;
  left                   : calc(50% - 121.21px);
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering         : optimizeLegibility;
  text-align             : center;
}

#label {
  font-size     : 18px;
  text-transform: lowercase;
  background    : #F62525;
  color         : #FFF;
  border        : none;
  border-radius : 0;
  padding       : 5px;
}

#artist {
  font-size    : 32px;
  border       : none;
  border-radius: 0;
  padding      : 0;
}

#attribution {
  position               : absolute;
  bottom                 : 50px;
  left                   : 50px;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering         : optimizeLegibility;
  font-family            : 'Archivo', serif;
  font-size              : 12px;
  line-height            : 1;
  text-align             : left;
  text-transform         : none;
  letter-spacing         : 0.5px;
  border                 : none;
  border-radius          : 0;
  padding                : 0;
}
@media (max-width: 1279px) {
  #attribution {
    font-size  : 8px;
    line-height: 1;
  }
}
@media (max-width: 1079px) {
  #attribution {
    display: none;
  }
}
@media (max-width: 991px) {
  body {
    font-size: 24px;
    margin   : 50px auto;
  }

  #preview-container {
    padding: 0 50px;
  }

  #footer {
    bottom: 25px;
    left  : calc(50% - 63.11px);
  }

  #label {
    font-size: 12px;
  }

  #artist {
    font-size: 16px;
  }

  #attribution {
    display: none;
  }
}